#UpgradeButton {
    display: none;
}

div[class^="CenterControlsContainer"] {
    margin-left: -15%;
    margin-right: 15%;
}

/* audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: var(--center-channel-bg);
    color: #fff;
} */

.global-player-container {
    /* max-width: 500px;
    min-width: 30%; */
}

.login-body-message-svg {
    display: none;
}

p.signup-body-message-subtitle {
    visibility: hidden;
    position: relative;
}

p.signup-body-message-subtitle:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
